*

*.cpp~
*.c~
*.h~

!LICENSE
!TODO.org

!README.org
!.gitignore

!ext4fs/
!ext4fs/ext4fs.c
!ext4fs/ext4fs.h
!ext4fs/inode.c

!ext4fs/Makefile
!ext4fs/acl.c
!ext4fs/acl.h
!ext4fs/balloc.c
!ext4fs/bitmap.c
!ext4fs/block_validity.c
!ext4fs/dir.c
!ext4fs/ext4_extents.h
!ext4fs/ext4fs.c
!ext4fs/ext4fs.h
!ext4fs/ext4.h
!ext4fs/ext4_jbd2.c
!ext4fs/ext4_jbd2.h
!ext4fs/extents.c
!ext4fs/extents_status.c
!ext4fs/extents_status.h
!ext4fs/fast_commit.c
!ext4fs/fast_commit.h
!ext4fs/file.c
!ext4fs/fsmap.c
!ext4fs/fsmap.h
!ext4fs/fsync.c
!ext4fs/hash.c
!ext4fs/ialloc.c
!ext4fs/indirect.c
!ext4fs/inline.c
!ext4fs/inode.c
!ext4fs/inode-test.c
!ext4fs/ioctl.c
!ext4fs/mballoc.c
!ext4fs/mballoc.h
!ext4fs/migrate.c
!ext4fs/mmp.c
!ext4fs/move_extent.c
!ext4fs/namei.c
!ext4fs/page-io.c
!ext4fs/pager.c
!ext4fs/readpage.c
!ext4fs/resize.c
!ext4fs/super.c
!ext4fs/symlink.c
!ext4fs/sysfs.c
!ext4fs/truncate.h
!ext4fs/verity.c
!ext4fs/xattr.c
!ext4fs/xattr.h
!ext4fs/xattr_hurd.c
!ext4fs/xattr_security.c
!ext4fs/xattr_trusted.c
!ext4fs/xattr_user.c

ext4fs/*.c~
ext4fs/*.h~
!doc
!doc/hurd.texi
